---
import favoritesData from "../Data/favorites.json";
const { books, movies, hobbies } = favoritesData;
---

<div class="card bg-base-200 shadow-xl mx-24 max-lg:mx-4 p-2">
  <div class="card-body">
    <h2 class="card-title text-4xl font-bold mb-5">My Favorites</h2>
    <h3 class="text-2xl font-semibold mb-2">Books</h3>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 justify-items-center"
    >
      {
        books.map((book) => (
          <div class="mb-4 w-64 max-lg:w-full">
            <div class="flex flex-col items-center">
              <a href={book.link} target="_blank" rel="noopener noreferrer">
                <img
                  src={`/books/${book.img}`}
                  alt={book.title}
                  width="600"
                  height="800"
                  class="transition-transform duration-300 hover:-translate-y-2 rounded-lg shadow-lg"
                />
              </a>
              <h3 class="text-lg font-semibold mt-2">{book.title}</h3>
              <p class="text-sm font-semibold">{book.author}</p>
            </div>
          </div>
        ))
      }
    </div>
    <div class="divider"></div>
    <h3 class="text-2xl font-semibold mb-2">Movies</h3>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 justify-items-center"
    >
      {
        movies.map((movie) => (
          <div class="mb-4 w-64 max-lg:w-full">
            <div class="flex flex-col items-center">
              <a href={movie.link} target="_blank" rel="noopener noreferrer">
                <img
                  src={`/movies/${movie.img}`}
                  alt={movie.title}
                  width="600"
                  height="800"
                  class="transition-transform duration-300 hover:-translate-y-2 rounded-lg shadow-lg"
                />
              </a>
              <h3 class="text-lg font-semibold mt-2">{movie.title}</h3>
              <p class="text-sm font-semibold">{movie.director}</p>
            </div>
          </div>
        ))
      }
    </div>
    <div class="divider"></div>
    <h3 class="text-2xl font-semibold mb-2">Hobbies</h3>
    <div
    class="grid grid-cols-2 lg:grid-cols-4 gap-8 justify-items-center"
  >
    {
      hobbies.map((hobbie) => (
        <div class="mb-4 w-64 max-lg:w-full">
          <div class="flex flex-col items-center">
              <img
                src={`/hobbies/${hobbie.img}`}
                alt={hobbie.name}
                width="600"
                height="600"
                class="rounded-lg shadow-lg"
              />
            <h3 class="text-lg font-semibold mt-2">{hobbie.name}</h3>
            <p class="text-sm font-semibold text-center">{hobbie.description}</p>
          </div>
        </div>
      ))
    }
  </div>
  </div>
</div>
